.upload {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: $text-light;
    opacity: 0.7;
    margin-bottom: 5px;

    span{
      color: $expire-status;
    }
  }

.date {
    display: flex;
    gap: 39px;
    margin-bottom: 24px;
    .modal__date__main {
      display: flex;
      gap: 10px;
    }
    .modal__date {
      border-radius: 8px;
      // padding: 10px 12px;
      //   max-width: calc(142px - 24px);
      input {
        max-width: calc(84px + 32px);
        color: $border;
        font-size: 16px;
      }
    }
  }